// Constants for Westmore design
$brand-purple: #432567;
$brand-mint: #c1ece3;
$brand-blue: #2c348d;

$purplish-color: #432567;
$purplish-hover-color: lighten( $purplish-color, 10% );
$bluish-color: #2c348d;
$cyan-color: #c1ece3;
$grey-font-color: #605956;
$light-grey-font-color: lighten( $grey-font-color, 10% );
$dark-grey-font-color: darken( $grey-font-color, 45%);
$makeup-color: rgb(242, 212, 193);
$promo-bar-color: #625a56;

// bcp colors
$fair-radiance: #f4d7c3;
$natural-radiance: #efc6aa;
$golden-radiance: #dba581;
$bronze-radiance: #af754c;
