/************************
Pull together all custom styles and minify using Prepros or some other automated
workflow.
*/
.font-fjalla, .font-fjalla-bold, .main-footer-wrapper h4, .product-list-item-title, .product-list-tagline, .product-price, .rc_label_text, .rc_discount_percentage, .rc_label, .money, .product-details .page-title, .cart-item-price .money, .cart-item-total .last .money, .cart-price .money, table.cart-items .money, .sticker, .sticker-circle, .sticker-rect, .cbb-also-bought-product h3, .swatch .header {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400; }

.font-fjalla-bold, .main-footer-wrapper h4 {
  font-weight: bold; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slide-overlays {
  position: absolute;
  top: 40%;
  left: 80px;
  right: 10px;
  width: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .slide-overlays .overlay-yellow-box {
    background-color: #fde85e;
    color: black;
    padding: 0.5em 0;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.01em;
    position: relative;
    margin: 1em auto;
    display: inline-block;
    padding: 0.5em; }
    @media (max-width: 1020px) {
      .slide-overlays .overlay-yellow-box {
        font-size: 16px; } }
    @media (max-width: 720px) {
      .slide-overlays .overlay-yellow-box {
        font-size: 14px; } }
    @media (max-width: 540px) {
      .slide-overlays .overlay-yellow-box {
        margin: 1em auto 0 auto; } }
  .slide-overlays .overlay-title {
    font-size: 50px;
    color: #2c348d;
    max-width: 90%;
    letter-spacing: 0.01em;
    position: relative;
    top: 0;
    margin: 0.5em auto; }
    @media (max-width: 1020px) {
      .slide-overlays .overlay-title {
        font-size: 32px;
        max-width: 100%; } }
    @media (max-width: 720px) {
      .slide-overlays .overlay-title {
        font-size: 24px; } }
    @media (max-width: 540px) {
      .slide-overlays .overlay-title {
        font-size: 20px; } }
  .slide-overlays .overlay-subtitle {
    font-size: 26px;
    color: #2c348d;
    max-width: 70%;
    letter-spacing: 0.01em;
    position: relative;
    margin: 0 auto; }
    @media (max-width: 1020px) {
      .slide-overlays .overlay-subtitle {
        font-size: 22px;
        max-width: 100%; } }
    @media (max-width: 720px) {
      .slide-overlays .overlay-subtitle {
        font-size: 20px; } }
    @media (max-width: 540px) {
      .slide-overlays .overlay-subtitle {
        font-size: 16px; } }
  .slide-overlays .btn-shop-now {
    position: relative;
    background-color: #8c62f5;
    color: white;
    padding: 1em;
    text-transform: uppercase;
    top: 2em;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 1020px) {
      .slide-overlays .btn-shop-now {
        top: 1em;
        padding: 0.7em; } }
    @media (max-width: 540px) {
      .slide-overlays .btn-shop-now {
        padding: 0.5em; } }

.overlay-circle {
  border-radius: 50%;
  background-color: #432567;
  position: absolute;
  padding: 0.5em 1em;
  top: 1em;
  right: 4em;
  width: 200px;
  height: 200px; }
  .overlay-circle h3 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px; }
  @media (max-width: 1020px) {
    .overlay-circle {
      right: 2em;
      width: 120px;
      height: 120px; }
      .overlay-circle h3 {
        font-size: 20px; } }
  @media (max-width: 720px) {
    .overlay-circle {
      right: 1em;
      width: 100px;
      height: 100px;
      padding: 0 0.5em; }
      .overlay-circle h3 {
        font-size: 16px; } }
  @media (max-width: 540px) {
    .overlay-circle {
      width: 80px;
      height: 80px; }
      .overlay-circle h3 {
        font-size: 14px; } }

.home-module-content {
  text-align: center; }
  .home-module-content .section-title {
    display: inline-block;
    font-style: italic;
    border-bottom: 3px solid #c1ece3;
    color: #605956;
    margin-left: auto;
    margin-right: auto; }
  @media (max-width: 540px) {
    .home-module-content {
      margin: 20px auto 0; } }

.section-title {
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.01em; }
  @media (max-width: 540px) {
    .section-title {
      font-size: 28px; } }

.main-footer-wrapper {
  color: #605956;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #efeeee; }
  .main-footer-wrapper .footer-link-list a {
    color: #605956; }

#home-video-exclusive .slideshow-slides {
  opacity: 1; }
  #home-video-exclusive .slideshow-slides .slideshow-slide {
    opacity: 1; }
    #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .overlay-yellow-box {
      background-color: #fde85e;
      color: black;
      padding: 0.5em 0;
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 0.01em;
      position: relative;
      margin: 1em auto;
      display: inline-block;
      padding: 0.5em; }
      @media (max-width: 1020px) {
        #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .overlay-yellow-box {
          font-size: 16px; } }
      @media (max-width: 720px) {
        #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .overlay-yellow-box {
          font-size: 14px; } }
      @media (max-width: 540px) {
        #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .overlay-yellow-box {
          margin: 1em auto 0 auto; } }
    #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .overlay-title {
      font-size: 50px;
      color: #2c348d;
      max-width: 90%;
      letter-spacing: 0.01em;
      position: relative;
      top: 0;
      margin: 0.5em auto; }
      @media (max-width: 1020px) {
        #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .overlay-title {
          font-size: 32px;
          max-width: 100%; } }
      @media (max-width: 720px) {
        #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .overlay-title {
          font-size: 24px; } }
      @media (max-width: 540px) {
        #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .overlay-title {
          font-size: 20px; } }
    #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .overlay-subtitle {
      font-size: 26px;
      color: #2c348d;
      max-width: 70%;
      letter-spacing: 0.01em;
      position: relative;
      margin: 0 auto; }
      @media (max-width: 1020px) {
        #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .overlay-subtitle {
          font-size: 22px;
          max-width: 100%; } }
      @media (max-width: 720px) {
        #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .overlay-subtitle {
          font-size: 20px; } }
      @media (max-width: 540px) {
        #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .overlay-subtitle {
          font-size: 16px; } }
    #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .btn-shop-now {
      position: relative;
      background-color: #8c62f5;
      color: white;
      padding: 1em;
      text-transform: uppercase;
      top: 2em;
      margin-left: auto;
      margin-right: auto; }
      @media (max-width: 1020px) {
        #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .btn-shop-now {
          top: 1em;
          padding: 0.7em; } }
      @media (max-width: 540px) {
        #home-video-exclusive .slideshow-slides .slideshow-slide .slide-content .btn-shop-now {
          padding: 0.5em; } }

#home-video-exclusive .video-exclusive-heading-italic {
  font-size: 30px;
  font-style: italic;
  color: #2c348d;
  letter-spacing: -0.05em; }
  @media (max-width: 1020px) {
    #home-video-exclusive .video-exclusive-heading-italic {
      font-size: 26px; } }
  @media (max-width: 720px) {
    #home-video-exclusive .video-exclusive-heading-italic {
      font-size: 24px; } }
  @media (max-width: 540px) {
    #home-video-exclusive .video-exclusive-heading-italic {
      font-size: 20px; } }

.newsletter-subscription form {
  max-width: 90%; }

.main-footer h4 {
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 0.01em;
  color: #605956; }

.social-link svg path {
  fill: #432567; }

.home-feature-content h3 {
  margin-left: 45%;
  font-size: 34px;
  font-style: italic;
  font-weight: 700;
  text-transform: none; }

.product-list-item-price {
  margin: 20px 0 0; }

.product-list-item-title {
  margin-top: 0;
  letter-spacing: normal; }

.product-list-item-details p, .product-list-item-details h3 {
  color: #2c348d; }

.product-list-item-details .product-list-item-price {
  font-family: 'Fjalla One', sans-serif;
  margin-top: 10px; }

.product-list-subtitle {
  color: #7b726e;
  text-transform: unset;
  margin-top: 10px;
  margin-bottom: 0;
  font-style: italic;
  letter-spacing: normal; }

.product-list-tagline {
  color: #7b726e;
  margin: 20px 0;
  text-transform: none; }

.product-main-image img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; }

.spr-summary-starrating {
  margin-right: 0 !important; }

.spr-badge-caption {
  display: none; }

.spr-summary-actions > a {
  font-size: 12px;
  padding-top: 4px; }

.border-top {
  border-top: 1px solid grey; }

.margin-top-large, .margin-bottom-large {
  margin-top: 3em; }

.background-yellow {
  background-color: #fde85e;
  display: inline-block;
  padding: 0.5em; }

.reviews-wrap.two-column > div {
  width: 48%; }

.product-column-description {
  border-left: 1px dotted #2c348d;
  padding-left: 2rem;
  padding-bottom: 0; }
  @media (max-width: 1020px) {
    .product-column-description {
      border-left: unset;
      padding-left: unset; } }

.spr-reviews .spr-review:first-child {
  margin-top: 0; }

.spr-reviews .spr-review {
  border-top: 0; }

.spr-reviews .spr-review:nth-child(even) {
  float: right;
  width: 48%; }

.spr-reviews .spr-review:nth-child(odd) {
  float: left;
  width: 48%; }

@media (max-width: 720px) {
  .spr-reviews .spr-review:nth-child(even) {
    float: none;
    width: 100%; }
  .spr-reviews .spr-review:nth-child(odd) {
    float: none;
    width: 100%; } }

.product-list-item figure a {
  max-height: 260px; }

.product-list-item figure img {
  max-height: 260px;
  width: auto;
  margin-left: auto;
  margin-right: auto; }

.product-section-heading {
  display: inline-block;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #2c348d; }
  @media (max-width: 720px) {
    .product-section-heading {
      display: block; } }

.img-before-after {
  width: auto;
  height: 315px; }

.product-price {
  font-size: 1.5em;
  color: #432567;
  font-weight: bold; }

.rc_label_text, .rc_discount_percentage, .rc_label, .money {
  font-size: 1em;
  color: #432567; }

.product-options, .product-quantity {
  text-align: left; }

.product-wrap.two-column .product-options label {
  text-align: left;
  width: unset;
  padding-right: 5px; }

.product-wrap.two-column .page-header {
  margin: 0;
  padding: 0; }
  .product-wrap.two-column .page-header h1 {
    text-align: left; }

.product-wrap .product-form {
  padding: 15px 0 0; }

.product-wrap > div {
  border-top: unset;
  margin: 0 auto; }

.product-wrap.two-column .product-column-images {
  width: 48%;
  float: left; }
  @media (max-width: 1020px) {
    .product-wrap.two-column .product-column-images {
      width: 100%;
      float: none; } }
  .product-wrap.two-column .product-column-images .product-video {
    text-align: center; }
    .product-wrap.two-column .product-column-images .product-video h2 {
      display: inline-block;
      font-style: italic;
      border-bottom: 3px solid #c1ece3;
      color: #605956;
      margin-left: auto;
      margin-right: auto; }

.product-main-image.zoom-enabled.zoom-active {
  margin-top: 35px; }

.product-options .input-wrapper, .product-options .inline-field-wrapper {
  width: 100%; }

.product-submit {
  margin: 25px 0;
  width: 100%;
  text-align: unset; }
  .product-submit input[type="submit"] {
    padding: 13px 20px;
    width: 100%; }
    @media (max-width: 540px) {
      .product-submit input[type="submit"] {
        padding: 14px 20px;
        font-size: 16px; } }

div.product-description.rte {
  padding-top: unset; }

.product-description {
  margin-top: 1em;
  width: 100%; }
  .product-description .nav.nav-tabs {
    margin-top: 0; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.middle {
  vertical-align: middle; }

.no-margin {
  margin: 0; }

.lh55 {
  line-height: 55px; }

.justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.spr-icon-star, .spr-icon-star-half-alt, .spr-icon-star-empty {
  color: #432567; }

.condensed {
  letter-spacing: 0.01em; }

.center-block {
  margin-left: auto;
  margin-right: auto; }

.button, .submit, button, input[type="submit"], input[type="button"] {
  background-color: #432567;
  border-radius: 0; }

.button:hover, .submit:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #5b328d;
  border-radius: 0; }

label + .select-wrapper {
  margin-top: unset; }

.select-wrapper {
  border-radius: 0; }

.nav-tabs {
  border: unset; }

.nav-tabs > li > a {
  color: #432567;
  text-transform: uppercase;
  border: unset;
  letter-spacing: 0.01em;
  font-size: 14px;
  border-right: 1px solid #2c348d;
  border-radius: unset;
  padding-top: 0;
  padding-bottom: 0; }

.nav-tabs > li > a:hover {
  border-right-color: unset; }

.nav-tabs > li:last-child a {
  border-right: unset; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #432567;
  border: unset;
  border-right: 1px solid #2c348d;
  -webkit-text-decoration: underline #432567;
  text-decoration: underline #432567; }

.nav-tabs > li.active:last-child a {
  border-right: unset; }

.nav > li > a {
  padding-left: 0; }

.nav-item {
  padding-left: 15px; }
  .nav-item:first-child {
    padding-left: 0; }

.label-outside-dropdown {
  line-height: 55px;
  margin: unset;
  margin-right: 3px; }

.input-wrapper label {
  margin-bottom: 0; }

.input-wrapper input {
  border-radius: 0;
  line-height: unset;
  padding: 10px 15px; }

.page-header {
  padding-bottom: unset;
  margin: unset;
  border-bottom: unset;
  margin-bottom: 2em; }

.page-title {
  letter-spacing: 0.01em;
  margin: 2rem 0; }

.product-details .page-title {
  font-size: 25px; }

select.rc_select__dropdown {
  padding: 5px; }

.main-header {
  border-bottom-color: #2c348d;
  padding: 0; }

.search-brand-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-search-form {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: auto; }

.header-search-input, .bag-text {
  font-style: italic;
  text-transform: none; }

.branding {
  -webkit-box-flex: 1.75;
  -ms-flex: 1.75;
  flex: 1.75;
  width: auto; }

.header-tools {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: auto; }
  .header-tools .login-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

@media (max-width: 1020px) {
  .mobile-header-tools {
    margin-top: 0;
    margin-bottom: 15px; } }

.sidebar-link-list li a {
  color: #432567;
  text-transform: uppercase; }
  .sidebar-link-list li a:hover {
    text-decoration: none; }

.sidebar-link-list .active > a {
  color: #432567; }

.sidebar-link-list-title {
  color: #432567;
  letter-spacing: 0.01em;
  font-weight: 900; }
  .sidebar-link-list-title:first-child {
    border-bottom: 1px solid #2c348d;
    line-height: 45px;
    padding: 2rem 0; }
    @media (max-width: 720px) {
      .sidebar-link-list-title:first-child {
        padding: 1em 0; } }

.title-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #2c348d; }
  .title-sorting h1 {
    color: #432567;
    line-height: 45px; }
  .title-sorting .select-wrapper {
    color: #432567; }

.navigation {
  color: #605956; }
  .navigation li a:hover {
    color: white;
    background-color: #432567; }
  .navigation .no-hover:hover {
    background-color: unset; }
  .navigation .navigation-first-tier > li > a {
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  @media (min-width: 1021px) {
    .navigation {
      margin-top: 0; }
      .navigation > ul > li > a {
        padding: 15px 20px; } }
  @media (max-width: 1020px) {
    .navigation {
      padding-top: 0; } }

.showing-3-modules.footer-modules .footer-link-lists {
  width: 66.6%; }

.footer-link-list {
  width: 33.3%; }
  @media (max-width: 720px) {
    .footer-link-list {
      width: 100%; } }

.header-promo-text {
  letter-spacing: normal;
  text-transform: unset; }
  .header-promo-text a:hover {
    text-decoration: none; }
  .header-promo-text .bigger {
    font-size: 1.5em; }

.header-img-full-width {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  background: black;
  display: none; }
  .header-img-full-width img {
    opacity: 0.7;
    width: 100%; }

h1.centered-overlay {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: 50px; }
  @media (max-width: 720px) {
    h1.centered-overlay {
      top: 20%;
      font-size: 40px; } }
  @media (max-width: 540px) {
    h1.centered-overlay {
      top: 20%;
      font-size: 30px; } }

.about h2 {
  margin-top: 2em;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: -0.07em;
  color: #2c348d; }
  @media (max-width: 1020px) {
    .about h2 {
      margin-top: 0.5em;
      margin-bottom: 0;
      font-size: 28px; } }

.about p {
  margin-top: 0.5em; }

.about .text-left-padding {
  padding-left: 2em; }
  @media (max-width: 767px) {
    .about .text-left-padding {
      padding-left: 15px; } }

.about .btn {
  background-color: #432567;
  padding: 1em;
  color: white;
  border-radius: 0;
  text-transform: uppercase; }

.about-menu-bar {
  background-color: #432567;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2; }
  .about-menu-bar ul {
    list-style: none; }
    .about-menu-bar ul li {
      display: inline-block;
      padding: 0 0.5em;
      text-transform: uppercase;
      color: white;
      border-right: 1px solid white; }
      .about-menu-bar ul li a {
        text-decoration: underline;
        color: white; }
      .about-menu-bar ul li:last-child {
        border-right: unset; }

.home-feature-content {
  position: absolute;
  color: white; }
  @media (max-width: 1020px) {
    .home-feature-content {
      right: 30px; } }
  @media (max-width: 720px) {
    .home-feature-content {
      top: 0;
      right: 20px; } }
  @media (max-width: 540px) {
    .home-feature-content {
      top: -10px; } }
  @media (max-width: 720px) {
    .home-feature-content h3 {
      font-size: 24px; } }

@media (max-width: 540px) {
  .row-of-2 .home-feature-image img {
    height: 340px;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto; } }

.slideshow-pagination span span {
  color: #432567;
  border: 1px solid #432567; }

.slideshow-pagination .active span {
  background-color: #432567; }

.spr-container {
  width: 100%; }

.spr-header {
  text-align: center; }
  .spr-header .spr-header-title {
    display: inline-block;
    font-style: italic;
    border-bottom: 3px solid #c1ece3;
    color: #605956;
    margin-left: auto;
    margin-right: auto; }

.spr-container .spr-starrating.spr-summary-starrating, .spr-container .spr-summary-caption {
  display: none; }

.spr-review-header .spr-review-header-byline {
  font-style: normal; }

.product-wrap .reviews-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0; }
  .product-wrap .reviews-social .spr-icon {
    font-size: 80% !important; }

.spr-summary-caption {
  padding: 0 10px;
  color: #432567; }

.social .share-buttons {
  margin-top: 0; }

.collection-sharing {
  display: none; }

.product-subtitle {
  text-transform: uppercase;
  color: black;
  margin-bottom: 0;
  font-weight: bold; }

.product-tagline {
  color: grey;
  margin-top: 0;
  font-size: 14px; }

.product-form {
  padding: 15px 0;
  margin-top: 0; }

.share-buttons {
  font-size: 10px; }
  .share-buttons a {
    border: unset;
    border-radius: 0px;
    border-right: 1px solid #432567;
    margin-left: 0;
    margin-right: 0; }
  .share-buttons a:last-child {
    border-right: unset; }

.share-facebook:before, .share-twitter:before, .share-pinterest:before {
  color: #432567; }

.share-facebook:hover, .share-twitter:hover, .share-pinterest:hover {
  background-color: #432567;
  text-decoration: none; }

input.newsletter-submit {
  background-color: unset; }
  input.newsletter-submit:hover {
    background-color: unset; }

.template-cart .main-content {
  font-size: 1em; }
  .template-cart .main-content form {
    font-size: 0; }

.sticker, .sticker-circle, .sticker-rect {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c1ece3;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center; }

.sticker-circle {
  border-radius: 50%; }
  @media (max-width: 1020px) {
    .sticker-circle {
      width: 60px;
      height: 60px; } }
  @media (min-width: 1021px) {
    .sticker-circle {
      width: 70px;
      height: 70px; } }
  .sticker-circle p {
    display: inline-block;
    vertical-align: bottom; }

.sticker-rect {
  padding: 10px; }
  .sticker-rect p {
    margin: 0; }

.branding {
  margin-top: 25px; }
  @media (max-width: 540px) {
    .branding .logo img {
      max-width: 240px !important; } }

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .contact-wrapper .btn {
    margin-top: 25px; }
  .contact-wrapper .col-left {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding-right: 15px; }
  .contact-wrapper .col-right {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding-left: 15px; }
    .contact-wrapper .col-right ul {
      padding-left: unset; }
  @media (max-width: 720px) {
    .contact-wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .contact-wrapper .col-left {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
      .contact-wrapper .col-right {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }

/*
 *  Swatches Styles
 */
.swatch {
  margin: 1em 0;
  padding-left: 15px; }

/* Label */
.swatch .header {
  margin: 0.5em 0; }

/* Hide radio buttons.*/
.swatch input {
  display: none; }

.swatch label {
  /* No extra spacing between them */
  margin: 0;
  /* Background color */
  background-color: #ddd;
  /* Styling text */
  font-size: 13px;
  text-align: center;
  line-height: 35px;
  white-space: nowrap;
  text-transform: uppercase; }

.swatch-element label {
  padding: 0 10px; }

.color.swatch-element label {
  padding: 0; }

.swatch .swatch-element {
  float: left;
  -webkit-transform: translateZ(0);
  /* webkit flicker fix */
  -webkit-font-smoothing: antialiased;
  /* webkit text rendering fix */
  /* Spacing between buttons */
  margin: 0px 10px 10px 0;
  /* To position the sold out graphic and tooltip */
  position: relative; }

/* Image with the cross in it */
.crossed-out {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.swatch .swatch-element .crossed-out {
  display: none; }

.swatch .swatch-element.soldout .crossed-out {
  display: block; }

.swatch .swatch-element.soldout label {
  opacity: 0.6;
  /* fx, safari, opera */ }

/* Tooltips */
.swatch .tooltip {
  text-align: center;
  background: gray;
  color: #fff;
  bottom: 100%;
  padding: 10px;
  display: block;
  position: absolute;
  width: 100px;
  left: calc(35px/2 - 50px + 2px);
  margin-bottom: 15px;
  /* Make it invisible by default */
  opacity: 0;
  visibility: hidden;
  /* Animations */
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  z-index: 10000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.swatch .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%; }

/* CSS triangle */
.swatch .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid gray 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0; }

.swatch .swatch-element:hover .tooltip {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

.swatch.error {
  background-color: #E8D2D2 !important;
  color: #333 !important;
  padding: 1em;
  border-radius: 5px; }

.swatch.error p {
  margin: 0.7em 0; }

.swatch.error p:first-child {
  margin-top: 0; }

.swatch.error p:last-child {
  margin-bottom: 0; }

.swatch.error code {
  font-family: monospace; }

.swatch .header {
  font-size: 16px;
  color: #432567;
  clear: both; }

.swatch-element label {
  border: 1px solid #7b726e;
  border-radius: 50%;
  width: 35px !important;
  height: 35px; }
  @media (max-width: 1020px) {
    .swatch-element label {
      display: inline-block !important; } }

.swatch-element input:checked + label {
  border: 2px solid #432567; }

.selection-wrapper.variant.no-js {
  display: none; }

.copyright__extra {
  width: 100%;
  font-size: 14px; }
  .copyright__extra p {
    margin: 0; }

#test-popup {
  width: 90%;
  background: white;
  color: #432567;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 3em 1em 3em;
  position: relative; }
  @media (min-width: 721px) {
    #test-popup {
      width: 60%; } }

.cart-item-option.darker {
  color: #605956; }
